</head>
  <body>
    <header>
      <img class="logo" src="image/logoBlue.png">
    </header>

    <div id="map-canvas"></div>

    <div class="interact">
      <form action="/set_info" method="get">
         <input id="address" class="input-field" type="textbox" name="stopaddress" placeholder="Cross Streets, City">
         <input id="phone" class="input-field" type="textbox" name="phonenum" placeholder="Phone Number">
         <input type="submit" class="btn">
      </form>
    </div>

    <div id="show-location" class="unseen info-off-page"></div>

  <footer>
    Sean Dickey built this app in 2014 for practice and fun.
  </footer>
  </body>
</html>